<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @machine_learning.name %>
</p>

<%= link_to 'Edit', edit_machine_learning_path(@machine_learning) %> |
<%= link_to 'Back', machine_learnings_path %>
